* {
    box-sizing: border-box;
}

:root {
    --primary-color-- : #f44336
}

body {
    margin: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background-color: white;
}

.guess-game {
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .game-area {
       .inputs {
         > div {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 30px;
                margin-right: 15px;
                font-weight: bold;
            }
         }
         .disabled-inputs {
            opacity: 0.5;
            pointer-events: none;
         }
         input {
            margin: 0 5px;
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 50px;
            caret-color: var(--primary-color--);
            background-color: white;
            border: none;
            border-bottom: 3px solid #333;
            &:focus {
                outline-color: #ccc;
            }
                 &.yes-in-place {
              background-color: #f89e13;
              border: #f89e13;
              color: white;
             }
             &.not-in-place {
                background-color: #18ba89;
                border: #18ba89;
                color: white;
             }
             &.no {
                background-color: #27303f;
                border: #27303f;
                color: white;
             }
         }
       }

    }
    .kay-colors {
        .key-color {
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: white;
            margin-bottom: 10px;
            .key {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
             &.in-place {
              background-color: #f89e13;
             }
             &.not-in-place {
                background-color: #18ba89;
             }
             &.no {
                background-color: #27303f;
             }
            }
            .key-text {
          font-size: 20px;
          font-weight: bold;
            }
        }
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

@media (max-width: 500px) {
    h1 {
        font-size: 20px; /* صغر حجم الخط عشان يناسب الشاشة */
        padding: 15px 10px; /* تقليل المسافات الداخلية */
        word-wrap: break-word; /* عشان لو الكلمة طويلة تتكسر وما تخرجش بره */
        width: 100%; /* نضمن إنه ما يتخطاش عرض الشاشة */
        text-align: center;
    }
}